@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 45dvw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
